body{
  background-color: rgb(155, 245, 245);
}

.nav{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:blue;
  height: 100px;
  margin-left: 0%;
}

.cross{
  align-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(255, 0, 0);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.card{
  justify-content: center;
  
  align-items: center;
  color: black;
  background-color: white;
  width: 350px;
  height: 100px;
  border-radius: 30px;
}

.block{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.formBox{
  border-radius: 30px;
  height: 20em;
  width: 15em;
  background-color: white;
}

.buttonSubmit{
  margin-top: 10px;
  width: 7em;
  color: white;
  background-color: #2196f3;
  border-radius: 30px;
}


@media screen and (max-width: 740px){
  .responsiveBlock {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50%;
  }

}